
.name{
    margin-bottom:0;
    font-size: 20px;
    font-weight: 700;
}
.biodata{
    padding-left: 1rem;
}
.review{
    text-align: start;
    padding: 30px;
    min-height: 200px;
    margin: 10px 0;
    background: white;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    
}

.review-text{
    margin: auto;
}
.id1{
    height: 160px;
    transition: 0.5s all ease-in-out;
    overflow: hidden;
    text-align: center;
    
}
.id1:hover{
    transform: scale(1.2);

}