.course-card{
    overflow: hidden;
    margin: 10px;
}
/* .course-text{
    overflow: hidden;
} */
.courseImage{
    transition: 0.5s all ease-in-out;
   
}
.courseImage:hover{
    transform: scale(1.2);
}
.button{
    width: 150px;
    display: block;
    margin: auto;
}